@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background: #0f0617;
}

main {
  width: 100vw;
}

img {
  cursor: pointer;
}

.carousel-cell {
  width: 66%;
  height: 400px;
}

.carousel-cell > img {
  width: 100%; 
  height: 100%;
}

@media screen and (max-width:1024px) {
  .carousel-cell {
    width: 80%;
    height: 350px; 
  }
}

@media screen and (max-width:770px) {
  .carousel-cell {
    width: 80%;
    height: 300px;
  }
}

@media screen and (max-width:430px) {
  .carousel-cell {
    width: 100%;
    height: 250px;
  }
}

nav > div > a {
  background-image: linear-gradient(90deg, white, white);
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.3s ease-in-out;
}

nav > div > a:hover {
  background-size: 100% 2px;
}

.noborder:hover {
    background-size: 0% 2px;
}

.cws::-webkit-scrollbar {
  width: 0;
}

nav .apps:hover {
  background-size: 0 2px;
  color: #da76ff;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .btn {
    display: none;
  }
}

.apps > .appdrawer {
  opacity: 0;
  pointer-events: none;
}

.apps:hover .appdrawer {
  opacity: 1;
  pointer-events: auto;
}

.appdrawer a {
  padding: 0.8rem 12px;
  width: 100%;
  border-radius: 4px;
}

.appdrawer a:hover {
  background-color: #1d1525;
  transition: all 0.3s ease-in-out;
}

footer .border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  
}
footer li a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}

 li {
  list-style-type: none;
}

footer ul li a:hover {
  color: #A785FF;
}


/* FOOTER end  */

.navclass{
  position: fixed;
  top: 10%;
  right:0%;
  z-index: 10000;
  height: 85vh;
  background-color: #0F0617;
}

@media screen and (max-width:800px) {
  .navclass {
    height: 90vh;
  }
}

.menu{
  position: fixed;
  right: -100%;
  top:10%;
  pointer-events: all;
  z-index: 1000;
  /* height:85vh; */
}


/* HAMBURGER STYLE ENDS */

/* BACK TO TOP  */
.back-to-top {
  background: rgba(56, 41, 65, 0.877);
  color: #7E2FBE;
  font-size: 26px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  position: fixed;
  bottom: 16px;
  right: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.back-to-top.active {
  opacity: 1;
  pointer-events: auto;
  bottom: 8px;
}
/* BACK TO TOP  */


@media screen and (min-width:1024px) {
  .widthofcarousel3 {
    width:17vw;
  }
  
}

@media screen and (min-width:1024px) and (max-width:1024px){
  .widthofcarousel3 {
    width:24vw;
  }
  
}

@media screen and (max-width:768px) {
  .widthofcarousel3 {
    width:32vw;
  }
  
}


@media screen and (max-width:500px) {
  .widthofcarousel3 {
    width:60vw;
  }
  
}


/* CARAOUSEL-1 */
@media screen and (min-width:1024px) {
  .widthofcarousel1 {
    width:15vw;
  }
  
}

@media screen and (min-width:1024px) and (max-width:1024px){
  .widthofcarousel1 {
    width:20vw;
  }
  
}

@media screen and (max-width:768px) {
  .widthofcarousel1 {
    width:24vw;
  }
  
}

@media screen and (max-width:500px) {
  .widthofcarousel1 {
    width:38vw;
  }
  
}
/* CARAOUSEL-1 */

.imageholder{
  width: 98%;
  height: 76.5vh;
  display: flex;
  gap:12px;
  overflow: hidden;
}

.firstPic{
  width: 75%;
  position: relative;
  flex-shrink: 0;
}

.firstPic > div {
  position: absolute;
  top: 10px;
  right: 10px;
}

.remaining{
  overflow-y: scroll;
  border:1px;
  display: flex;
  flex-direction: column;
  width: 21.6%;
  position: relative;
}

.remaining > div {
  position: relative;
}

.remaining > div > div {
  position: absolute;
  top: 8px;
  right: 8px;
}

.remaining > div > img {
  object-fit: cover;
  width: 100%;
}

.cws::-webkit-scrollbar{
  width: 0;
}

.cardCount {
  color: #A785FF;
  font-size: 30px;
  font-style: bold;
}

.remaining::after {
  content: "";
  width: 100%;
  position: absolute;
  background-image: linear-gradient( rgba(0, 0, 0, 0.636), rgba(0, 0, 0, 0.036));
  inset: 0;
  z-index: 1000;
}